#about>img{
width: 30%;
margin-bottom: 2%;
margin-left: 23%;
border-radius: 25px

}
#about>p{
    position: relative;
    left: 800px;
    bottom: 500px;
    width: 30%;
    font-size: 150%;
    font-style: oblique;
    

}
#about>p>button{
    border-radius: 25px; 
    border: none;
    background-color: black;
    color: white;
    padding: 5%;
    width: 200px;
    
    height: 7px;
    padding-bottom: 10%;
    padding-top: 2%;
    margin-top: 7%;

   
}
#about>p>button:hover{
    margin-top: 2%;
    background-color: rgb(166, 66, 16);
    color: rgb(255, 255, 255);

}