#about>img{
width: 30%;
margin-bottom: 2%;
margin-left: 23%;
border-radius: 25px

}
#about>p{
    position: relative;
    left: 850px;
    bottom: 500px;
    width: 30%;
    font-size: 150%;
    font-style: oblique;
    

}
#about>p>button{
    border-radius: 25px; 
    border: none;
    background-color: black;
    color: white;
    padding: 5%;
    width: 200px;
    
    height: 7px;
    padding-bottom: 10%;
    padding-top: 2%;
    margin-top: 7%;

   
}
#about>p>button:hover{
    margin-top: 2%;
    background-color: rgb(166, 66, 16);
    color: rgb(255, 255, 255);

}
@media only screen and (max-width: 800px) and (min-width:10px){
    *{
        width: 100%;
    }
    #about>img{
        width: 70%;
        margin-bottom: 2%;
        margin-left: 10%;
        border-radius: 25px
        
        }
        #about>p{
            position: relative;
            left: 10px;
            bottom: -10px;
            width: 90%;
            font-size: 150%;
            font-style: oblique;
            
        
        }
        #about>p>button{
            border-radius: 25px; 
            border: none;
            background-color: black;
            color: white;
            padding: 5%;
            width: 200px;
            
            height: 7px;
            padding-bottom: 10%;
            padding-top: 2%;
            margin-top: 7%;
            margin-bottom: 150px;
        
           
        }
        #about>p>button:hover{
            margin-top: 2%;
            background-color: rgb(166, 66, 16);
            color: rgb(255, 255, 255);
        
        }


}