#parra>img{
    border-radius: 50px;
   width: 50%;
  margin-left: 20%;
  margin-bottom: 20%;

}
#parra{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#parra2{
    margin-bottom: 15%;
}
#parra>p{
    position: relative;
    left: 400px;
    bottom: 250px;
    width: 30%;
    font-size: 150%;
    font-style: oblique; 

}
#parra>#image3{
    width: 30%;
    margin-left: 30%;
}
#parra>h1{
    position: relative;
    
    left: 250px;
    width: 30%;
    font-size: 150%;
    font-style: oblique;
    margin-bottom: 10%;
    
}
@media only screen and (max-width: 800px) and (min-width:10px){
    *{
        width: 100%;
    }
    #parra>img{
        border-radius: 50px;
       width: 90%;
      margin-left: 2%;
      margin-bottom: 20%;
    
    }
    #parra{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #parra2{
        margin-bottom: 15%;
    }
    #parra>p{
        position: relative;
        left: 40px;
        bottom: 50px;
        width: 90%;
        font-size: 150%;
        font-style: oblique; 
    
    }
    #parra>#image3{
        width: 70%;
        margin-left: 10%;
    }
    #parra>h1{
        position: relative;
        
        left: 50px;
        width: 30%;
        font-size: 150%;
        font-style: oblique;
        margin-bottom: 10%;
        
    }

}