#Myname1{
    color: black;
    font-size: 90%;
    
}
.navbar{
margin-left: 20%;
}
#Myname1>img{
    width: 3%;
    border-radius: 30%;
    margin-right: 1%;
}
#kdk{
    text-decoration: none;
    color: black;
}
.navbar{
    padding: 2%;
}
#Nav-elements{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 30%;
    margin-top: -3%;
    color: black;
    
}

#donate{
    position: relative;
    width: 100%;
    bottom: 20%;
}
#donate:hover{
    background-color: rgb(255, 192, 19);
    border: none;
    color: rgb(0, 0, 0);
}
#email1{
    text-decoration: none;
    color: black;
    
}
#email1:hover{
    text-decoration: underline;
}
#email>img{
width: 7%;
margin-right: 1%;
position: relative;
bottom: 60px;
left: 300px;
}

#pages{
text-decoration: none;
color: black;
font-size: 90%;
font-weight: 500;
}
#pages:hover{
    text-decoration: underline;
}
.navbar>#pages,#email1,#email1>img{
    
position: relative;
bottom: 60px;
left: 150px;
}
#email1{
    left: 300px;
}
